fe.ftp.server=rtpgsa.ibm.com,rtpgsa.ibm.com,rtpgsa.ibm.com
fe.ftp.userid={{ fe_ftp_userid }},{{ fe_ftp_userid }},{{ fe_ftp_userid }}
fe.ftp.password={{ fe_ftp_password }},{{ fe_ftp_password }},{{ fe_ftp_password }}
fe.download.dir=/gsa/rtpgsa/projects/w/was.build/botp,/gsa/rtpgsa/projects/w/was.build/WS,/gsa/rtpgsa/projects/w/was.build/github.ibm.com/IntelligentManagement
fe.ftp.port=21

prereq.source.type=ftp
prereq.ftp.server=rtpgsa.ibm.com
prereq.ftp.userid={{ prereq_ftp_userid }}
prereq.ftp.password={{ prereq_ftp_password }}
prereq.root=/gsa/rtpgsa/projects/w/was.dev_tools/prereqs/
prereq.ftp.port=21
